#!/usr/bin/make -f
export DEB_BUILD_OPTIONS=nodwz nostrip
QT=5
%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	PATH=/usr/lib/qt$(QT)/libexec/:$(PATH) dh_auto_configure -- \
		-Dsave=true \
		-Detap19=false \
		-Dresources=true \
		-Dscreenshot=true \
		-Dqt=$(QT)
